body{
    background-color: #331552;
    color: #ffffff;

}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}








/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-link a{
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.wave-text{
    background: linear-gradient(to right,#ff00cc, #3333ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.btn-subscribe{
    width: 135px;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(90deg,#F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 77, 77, 0.3);
}
.btn-subscribe:hover{
    transform: scale(1.05);
    filter: brightness(1.1);

}
/* hero section style */
.hero{
    height: 100vh;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;

}
.hero-container{
    position: relative;
    text-align: center;
    color: #ffffff;
    max-width: 700px;
    padding: 20px;
}
.sound-wave-wrapper{
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.mic-circle{
    width: 180px;
    height: 180px;
    background: radial-gradient(circle, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 60px rgba(255, 0, 204, 0.4);
}
.badge-new{
    position: absolute;
    top: 10px;
    right: -10px;
    background: #00ff88;
    color: black;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
/* title and button */
.main-title{
    font-size: 3.5rem;
    margin-bottom: 15px;
}
.description{
    color: #aaa;
    margin-bottom: 40px;
}
.btn-spotify{
    background: linear-gradient(90deg, #f093fb, #f5576c);
    border: none;
    padding: 12px 30px;border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}
.btn-sub-outline{
    background: transparent;
    border:  1px solid #00ff88;
    color: #00ff88;
    padding: 12px 30px;
    border-radius: 30px;
}








/* mobile Device */
@media screen and (max-width:768) {
    .logo-img{
        width: 150px;
    }
    h1{
        font-size: 2rem;
    }
    .tagline{
        font-size: 1rem;
        padding: 0 10px;
    }
    .botton-container{
        flex-direction: column;
    }
    .wavefrom-icons{
        display: none;
    }
}
