body{
    background-color: #331552;
    color: #ffffff;

}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}








/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-link a{
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.wave-text{
    background: linear-gradient(to right,#ff00cc, #3333ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}