body{
    background-color: #331552;
    color: #ffffff;

}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}