@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color: #29114d ;
    color: white;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.wave-text{
    background: linear-gradient(to right,#e061c7, #9090eb);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
.nav-link{
    list-style: none;
    display: flex; 
    gap: 30px;
}
.nav-link a{
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}
.nav-subscribe{
    width: 135px;
    height: 44px;
    border-radius: 22px;
    border: none;
    
}
